{% extends 'base.html.twig' %}

{% block title %}Home Page{% endblock %}

{% block body %}


    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br/><br/>
                <h1 class="header center white-text text-lighten-2">
                    Professional ECU tuning
                </h1>
                <div class="row center">
                    <h5 class="header col s12 white-text">
                        High quality. Fair price. Fast service.
                    </h5>
                </div>
                <div class="row center" style="justify-content: center">
                    <a
                            href="{{ path('order') }}"
                            class="btn-large waves-effect waves-light teal lighten-1"
                    >Order Today</a
                    >
                </div>
                <br/><br/>
            </div>
        </div>
        <div class="parallax">
            <img src="{{ asset('build/images/tuning.jpg') }}" alt="chip tuning"/>
        </div>
    </div>

    <div class="container">
        <div class="section">
            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m6">
                    <div class="icon-block">
                        <h2 class="center brown-text">
                            <i class="material-icons">flash_on</i>
                        </h2>
                        <h5 class="center">We make your files in 30min - 2 hours</h5>

                    </div>
                </div>

                <div class="col s12 m6">
                    <div class="icon-block">
                        <h2 class="center brown-text">
                            <i class="material-icons">settings</i>
                        </h2>
                        <h5 class="center">We are using swiftec and winOls for 100percent quality.</h5>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="parallax-container valign-wrapper">
        <div class="parallax">
            <img src="{{ asset('build/images/tuning.jpeg') }}" alt="Chip Tuning"/>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col" style="justify-content: center">
                <h4 class="center-align">Contact Us</h4>
            </div>
        </div>
        <div class="row">
            <form class="col m8 offset-m2 s12">
                <div class="input-field col s12">
                    <input id="name" type="text">
                    <label for="name">Name</label>
                </div>
                <div class="input-field col s12">
                    <input id="email" type="email" class="form-input">
                    <label for="email">Email</label>
                </div>
                <div class="input-field col s12">
                    <textarea id="message" class="materialize-textarea"></textarea>
                    <label for="message">Message</label>
                </div>

                <div class="col m12">
                    <p class="right-align">
                        <button class="btn btn-large waves-effect waves-light blue" type="button" name="action">Send
                            Message
                        </button>
                    </p>
                </div>
            </form>
        </div>
    </div>

    <div class="parallax-container valign-wrapper">
        <div class="parallax">
            <img src="{{ asset('build/images/tuning.png') }}" alt="chi- tuning"/>
        </div>
    </div>

{% endblock %}